{:id 3

 :description "The air feels thicker than before. There must be a horde of sludge."
 :tip "Be careful not to die! Use warrior.health to keep an eye on your health, and warrior.rest! to earn 10% of max health back."
 :clue "When there is no enemy ahead of you call warrior.rest! until health is full before walking forward."

 :time-bonus 35
 :ace-score 71

 :board [[:*> nil :<s nil :<s :<s nil :<s :__]]

 :abilities #{:walk :attack :rest}}
