{:id 5

 :description "You hear cries for help. Captives must need rescuing."
 :tip "Use warrior.feel.captive? to see if there is a captive and warrior.rescue! to rescue him. Don't attack captives."
 :clue "Don't forget to constantly check if you're taking damage. Rest until your health is full if you aren't taking damage."

 :time-bonus 45
 :ace-score 123

 :board [[:*> nil :<C :<a :<a :<S :<C :__]]

 :abilities #{:walk :attack :rest :rescue}}
