{:id 6

 :description  "The wall behind you feels a bit further away in this room. And you hear more cries for help."
 :tip "You can walk backward by passing ':backward' as an argument to walk!. Same goes for feel, rescue! and attack!. Archers have a limited attack distance."
 :clue "Walk backward if you are taking damage from afar and do not have enough health to attack. You may also want to consider walking backward until warrior.feel(:backward).wall?."

 :time-bonus 45
 :ace-score 90

 :board [[:C> nil :*> nil :<S nil :<a :<a :__]]

 :abilities #{:walk :attack :rest :rescue}}
