{:id 7

 :description "You feel a wall right in front of you and an opening behind you."
 :tip "You are not as effective at attacking backward. Use warrior.feel.wall? and warrior.pivot! to turn around."

 :time-bonus 30
 :ace-score 50

 :board [[:__ :a> nil :S> nil :*>]]

 :abilities #{:walk :attack :rest :rescue :pivot}}
